{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
    <div class="main-page-container">
        <div class="article-header-container">
            <div class="article-header">
                phone number lookups
            </div>
            <div class="centered-logo">
                <img src="{{feature_image}}"></div>
            <div class="top-right-links">
                <!--<div
                    style="display: flex; align-items: center; margin-left: 0px; margin-top: 5px; margin-bottom: 5px;">
                    <div style="display: inline-block; background-color: rgb(238, 0, 23); border-radius: 50%; height: 5px; width: 5px; margin-right: 5px;"></div>
                    <a href="http://members.staterecords.org/customer/login"
                       style="margin-left: auto; font-size: 12px; line-height: 14px; color: rgb(48, 89, 131); text-decoration: none;">Login</a>
                </div>
                <div
                    style="display: flex; align-items: center; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;">
                    <div
                        style="display: inline-block; background-color: rgb(238, 0, 23); border-radius: 50%; height: 5px; width: 5px; margin-right: 5px;"></div>
                    <a href="http://members.staterecords.org/customer/help"
                       style="margin-left: auto; font-size: 12px; line-height: 14px; color: rgb(48, 89, 131); text-decoration: none;">Contact
                        us</a></div>-->
            </div>
        </div>
        <div class="sidebar-container">
            <img class="sidebar-header-image" src="{{asset 'images/articleLogo.png'}}">
            <div class="results-include" style="max-width: 633px;"><h1
                style="font-family: Georgia; font-style: normal; font-weight: normal; font-size: 24px; line-height: 27px; color: rgb(48, 89, 131); margin-top: -29px; margin-left: 5px;">
                Results Include</h1>
                <div class="results-spacer"
                     style="border-bottom: 1.7px solid rgb(211, 1, 0); margin-top: -23px; margin-right: 7px;"></div>
                <div class="phone-details">
                    Full Phone Details:</div>
                <div class="phone-details-list">
                    <div>
                        <li>
                            <p>
                                Owner's Details</p></li>
                    </div>
                    <div>
                        <li>
                            <p>
                                Contact info</p></li>
                    </div>
                    <div>
                        <li>
                            <p>
                                Location</p></li>
                    </div>
                    <div>
                        <li>
                            <p>
                                Family members</p></li>
                    </div>
                    <div>
                        <li>
                            <p>
                                Estimated income</p></li>
                    </div>
                    <div>
                        <li>
                            <p>
                                Property ownership</p></li>
                    </div>
                    <div>
                        <li>
                            <p>Timezone</p></li>
                    </div>
                </div>
            </div>
            <div class="sidebar-paragraph">
                <div class="sidebar">{{{custom_excerpt}}}</div>
            </div>
            <img class="report-preview" src="{{asset 'images/previewImg.png'}}">
            <div class="federal-container">
                <div>
                    Federal Hotline Phones:</div>
                <p style="font-family: Arial; font-style: normal; font-weight: bold; font-size: 14px; line-height: 16px; color: rgb(128, 128, 128); padding-left: 18px; padding-right: 18px; margin-top: -10px;">
                    The <a href="USA.gov" style="font-weight: normal;">USA.gov</a> telephone line:</p>
                <p style="font-family: Arial; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px; color: rgb(128, 128, 128); padding-left: 18px; padding-right: 18px; margin-top: -10px;">
                    +1-844-872-4681</p>
                <h1 style="font-family: Arial; font-style: normal; font-weight: bold; font-size: 14px; line-height: 16px; text-decoration-line: underline; color: rgb(44, 85, 128); padding-left: 18px; padding-right: 18px; margin-top: -5px;">
                    National Do Not Call Registry</h1>
                <p style="font-family: Arial; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px; color: rgb(128, 128, 128); padding-left: 18px; padding-right: 18px; margin-top: -23px;">
                    +1-888-382-1222</p>
                <h1 style="font-family: Arial; font-style: normal; font-weight: bold; font-size: 14px; line-height: 16px; text-decoration-line: underline; color: rgb(44, 85, 128); padding-left: 18px; padding-right: 18px; margin-top: -5px;">
                    The Federal Trade Comission</h1>
                <p style="font-family: Arial; font-style: normal; font-weight: normal; font-size: 14px; line-height: 16px; color: rgb(128, 128, 128); padding-left: 18px; padding-right: 18px; margin-top: -23px;">
                    +1-888-225-5322</p>
                <p style="font-family: Arial; font-style: normal; font-weight: normal; font-size: 10px; line-height: 11px; color: rgb(128, 128, 128); padding-left: 18px; padding-right: 18px; padding-bottom: 25px;">
                    Lines are available between 8:00 AM and 8:00 PM ET, Monday through Friday, except
                    federal holidays.</p></div>
        </div>
        <div class="main-section-container">
            <div class="main-section">
                {{{content}}}
                <div class="main-section"></div>
            </div>
        </div>
    </div>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    <script>
    </script>
{{/contentFor}}
